<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title(params[:number]) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <%= css :application, :media => 'screen' %>
    <script src="//code.jquery.com/jquery-2.0.0.min.js"></script>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a class="nav-link" href="https://github.com/gjtorikian/markdown-tutorial" data-toggle="tooltip" data-original-title="Get the source code to this website"><i class="icon-github"></i></a></li>
          <li><a class="nav-link" href="/" data-toggle="tooltip" data-original-title="Return to the start"><i class="icon-home"></i></a></li>
        </ul>
        <div class="container">
          <ul id="progress-bar" class="nav">
            <li><a class="lesson" href="/lesson/1" data-toggle="tooltip" data-original-title="Italics and Bold"><i class="icon-circle-blank"></i></a></li>
            <li><a class="lesson" href="/lesson/2" data-toggle="tooltip" data-original-title="Headers"><i class="icon-circle-blank"></i></a></li>
            <li><a class="lesson" href="/lesson/3" data-toggle="tooltip" data-original-title="Italics and Bold"><i class="icon-circle-blank"></i></a></li>
          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->

    <div class="container">

      <hr>

        <%= yield %>

      <hr>

      <div class="footer">

      </div>

    </div> <!-- /container -->

    <script src="//d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script>
      var environment = '<%= environment %>';
    </script>
    <%= js :app %>
  </body>
</html>
